# Dataspot configuration variables

# Base URL
base_url = 'https://www.myserver.com'

# Database name
database_name = 'test-database'

# Scheme names
dnk_scheme_name = 'Datennutzungskatalog'
rdm_scheme_name = 'Referenzdatenmodell'
datatype_scheme_name = 'Datentypmodell'
tdm_scheme_name = 'Technische Datenmodelle'

# Collection names
ods_imports_collection_name = 'ODS-Imports' 
